// Place all the styles related to the heritages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.top{
  width:100%;
  height:800px;
  display: flex;
  justify-content: center;
}
.box{
  margin:30px;
  width:90%;
  height:90%;
}
.box1{
  width:100%;
  height:100%;
}