<div class="main">
  <div class="inner">
    <div class="user__wrapper">
      <h2 class="page-heading">
        <%= "#{@user.nick_name}さん"%><br>
        <% unless current_user.admin? %> 
            <% %>
        <% else %>
            <%= link_to'投稿する',new_heritage_path,class: 'heritage-btn'%>
        <% end %> 
       
      </h2>
      <h2 class="page-heading">
        <%= "#{@user.nick_name}さんの投稿"%>
      </h2>
      <div class="user__card">
        <% @heritage.each do |heritage| %> 
        <%# 部分テンプレートでそのユーザーが投稿したプロトタイプ投稿一覧を表示する %>
         <%= render partial: 'heritages/heritage',collection: @heritage %> 
        <% end %> 
      </div>
    </div>
  </div>
</div>