/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 * {
  box-sizing: border-box;
}

 .top-page-header{
  width: 100%;
  text-align: center;
}
.grid-6 .lists-right{
  height:40px;
  border-radius: 3px;
  display: inline-block;
}
.gird-5{
  background  : #ffffff;
  padding-bottom : 50px;
  height:10%;
  width:100%;
<<<<<<< HEAD
  background-image:repeating-conic-gradient(rgb(238, 164, 195),white 10%);
=======
  background-image:repeating-conic-gradient(rgb(168, 183, 212),white 10%);
>>>>>>> master
}
.grid-6{
  align-items: center;
  font-size:40px;
<<<<<<< HEAD
  text-shadow:  2px  2px 10px rgb(228, 211, 176) ,
               -2px  2px 10px rgb(204, 118, 165) ,
                2px -2px 10px rgb(228, 112, 157) ,
=======
  font-weight: bold;
  text-shadow:  2px  2px 10px rgb(228, 211, 176) ,
               -2px  2px 10px rgb(214, 218, 170) ,
                2px -2px 10px rgb(195, 214, 228) ,
>>>>>>> master
               -2px -2px 10px rgb(191, 229, 184);
  color:rgb(112, 149, 112); 
  
  
}
.grid-7{
  font-size:20px;
<<<<<<< HEAD
  text-shadow:  2px  2px 10px rgb(228, 211, 176) ,
               -2px  2px 10px rgb(204, 118, 165) ,
                2px -2px 10px rgb(228, 112, 157) ,
=======
  font-weight: bold;
  text-shadow:  2px  2px 10px rgb(228, 211, 176) ,
               -2px  2px 10px rgb(200, 233, 205) ,
                2px -2px 10px rgb(199, 215, 240) ,
>>>>>>> master
               -2px -2px 10px rgb(228, 229, 184);
  color:rgb(112, 149, 112); 
  
}
.user_nav{
  float:right;
  margin-right:80px;
}
.lists-right{
  list-style: none;
}

.sign{
  text-decoration: none;
<<<<<<< HEAD
  border: 8px double #0090bb;
=======
  color: #fff;
  background-color: black;
  border-radius: 100vh;
  padding:4px;
>>>>>>> master
 }
 .sign:hover{
  color:darkorange;
}
 .gestsign{
  text-decoration: none;
  color: #fff;
  background-color: black;
  border-radius: 100vh;
  padding:4px;
 }
 
 .gestsign:hover{
  color:darkorange;
}
.sign-right{
  margin-left:10px;
  text-decoration: none;
<<<<<<< HEAD
  -webkit-box-shadow: 0 5px 0 #e6d900;
  box-shadow: 0 5px 0 #e6d900;
=======
  color: #fff;
  background-color: black;
  border-radius: 100vh;
  padding:4px;
>>>>>>> master

}
.sign-right:hover{
  color:darkorange;
}
