// Place all the styles related to the countrys controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.country-index{
  height:100%;
  weight:100%;
  text-align: center;
}
.country-css{
  font-size:32px;
}