 <div class="card_wrapper">
  <div class="card_nation">
     <ul class=card>
      <li class="card_country">
       <%= link_to (heritage.name), heritage_path(heritage.id),class: :card__title%><br><%= link_to "#{heritage.register.name}年", heritage_path(heritage.id),class: :card__title%><br>
       
        <%= link_to image_tag(heritage.images[0], class: :card__img), heritage_path(heritage.id) %>
       <div class="card__body">
       <p class="card__summary">
       </div>
      </li> 
     </ul>
  </div>
 </div>
 