<div class=seach>
   <h2>カテゴリー検索</h2>
    <%= search_form_for @q, url: heritages_nation_path do |f| %>
       <%= f.collection_select :nation_id_eq, Nation.where.not(id: 0), :id, :name %>
       <%= f.submit '検索', class:"sbtn" %>
    <% end %>
  </div> 