<div class="heritages-sell-contents">
  <header class="heritages-sell-header">
  </header>
  <div class="heritages-sell-main">
    <h2 class="heritages-sell-title">世界遺産情報入力</h2>
    <%# 部分テンプレートでフォームを表示する %>
      <%= render partial: "heritages/form" ,locals:{heritage:@heritage}  %>
 
  </div>
</div>