* {
  box-sizing: border-box;
}

.user__wrapper{
  min-height: calc(100vh - 161px);
  text-align: center;
  width:100%;
  
}
.user__card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.heritage-btn{
  color: #b1921b;
  font-size:20px;
  border-right: 4px solid #cea82c;
  border-bottom: 10px solid #987c1e;
  border-left: 4px solid #ffed8b;
  border-radius: 0;
  background: -webkit-gradient(linear, right top, left top, from(#ffd75b), color-stop(30%, #fff5a0), color-stop(40%, #fffabe), color-stop(50%, #ffffdb), color-stop(70%, #fff5a0), to(#fdd456));
  background: -webkit-linear-gradient(right, #ffd75b 0%, #fff5a0 30%, #fffabe 40%, #ffffdb 50%, #fff5a0 70%, #fdd456 100%);
  background: linear-gradient(-90deg, #ffd75b 0%, #fff5a0 30%, #fffabe 40%, #ffffdb 50%, #fff5a0 70%, #fdd456 100%);
  text-shadow: -1px -1px 1px #ffffd9;
}
.heritage-btn:hover {
  margin-top: 3px;
  color: #b1921b;
  border-right: 4px solid #cea82c;
  border-bottom: 7px solid #987c1e;
  border-left: 4px solid #ffed8b;
}
.country-index{
  height:100%;
  width:100%;
  text-align: center;
}
.country-css{
  font-size:32px;
}
.page-heading{
  margin-top:10px;
}
.country_wrapper{
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  align-items: center;
 
}
.country__wrapper{
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left:180px;
 
}

.country{
  margin-top: 20px;
  margin-bottom: 40px;
  margin-left:20px;
  display: flex;
  width: 80%;
  background-color: lightcyan;
}
.country_nation{
  margin-top: 20px;
  margin-bottom: 40px;
  margin-left:20px;
  display: flex;
  width: 100%;
  background-color: lightcyan;
}
.anather-country{
  width:100%;
  margin:20px;
  padding:20px;
  float: left;
  width: calc(45%);
  position: relative;
  background: #fff0cd;
  box-shadow: 0px 0px 0px 5px #fff0cd;
  border: dashed 2px white;
  padding: 0.5em 0.5em;
  color: #454545;
  list-style: none;
}
.anather-country:after{
  position: absolute;
  content: '';
  right: -7px;
  top: -7px;
  border-width: 0 15px 15px 0;
  border-style: solid;
  border-color: #ffdb88 #fff #ffdb88;
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
}
.country_img {
  width:350px;
  height:250px;
  margin-bottom: 10px;
  
}
.country_name {
  display: block;
  font-size: 20px;
  text-decoration: none;
  color:black;
  
}
.country__title{
  text-decoration: none;
  color:black;
  margin-top:4px;
  margin-left:50px;
  padding-bottom:20px;
}
.card_body{
  height:100%;
  width:100%;
  text-align: center;
}
.country_summary {
  display: flex;
  font-size: 16px;
  font-weight: bold;
}
.toko{
  list-style: none;
}
.mypage_wrapper{
  width:100%;
}
.mypage_wrapper h2{
  font-size:32px;
}
.favorite_wrapper{
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.favorite__box{
  margin-top: 20px;
  margin-bottom: 40px;
  margin-left:20px;
  width: 100%;
  background-color: lightcyan;
}
.favorite-country{
  width:100%;
  padding:20px;
  float: left;
}
.card_wrapper{
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top:20px;
}
.card_nation{
  margin-bottom: 40px;
  margin-left:20px;
  display: flex;
  width: 100%;
  background-color: lightcyan;
}
.card{

}
.card_country{
  position: relative;
  background: #fff0cd;
  box-shadow: 0px 0px 0px 5px #fff0cd;
  border: dashed 2px white;
  padding: 0.5em 0.5em;
  color: #454545;
  list-style: none;
}
}
.card_country:after{
  position: absolute;
  content: '';
  right: -7px;
  top: -7px;
  border-width: 0 15px 15px 0;
  border-style: solid;
  border-color: #ffdb88 #fff #ffdb88;
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
} 
